<form action="/favourite" method="POST" class="flex justify-end">
    <button type="submit"
        class="text-blue-500 border-1 border-transparent hover:border-1 hover:bg-blue-500/20 hover:border-blue-500 px-1  rounded">Add
        To
        Favourite</button>
    <input type="hidden" name="id" value="<%= home._id %>">
</form>