<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="flex items-center justify-center mt-15">
                <div class="w-fit  rounded-lg text-red-400 text-center text-2xl p-8">
                    <h1 class="text-red-600 text-6xl my-2 font-bold"> Bookings</h1>
                    <h2>Bookings appear here</h2>
                </div>
            </main>
    </body>

    </html>