<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <main class="flex items-center justify-center mt-15">
        <div class="w-fit shadow-lg shadow-red-300 rounded-lg text-red-400 text-center text-2xl p-8">
          <h1 class="text-red-600 text-6xl font-bold"> 404</h1>
          <h2>Page not found in airbnb</h2>
        </div>
      </main>
  </body>

  </html>